/* Default styles for the banner */
.banner {
  background-image: url(../../../../assets/mmmmmmmmm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  background-position: center center;
  background-color: #0000ced7;
}

/* Mobile screen (up to 767px) */
@media screen and (max-width: 767px) {
  .banner {
    height: 400px;
  }
}

/* Tablet screen (768px to 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner {
    height: 600px;
  }
}
