.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  transition: background-color 0.3s;
  background-color: white;
  color: #0000ced7;
}

.active {
  color: red;
}

.navbar.scrolling {
  background-color: #0000ced7;
  color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.navbar.scrolling .login-btn {
  color: #0000ced7;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

/* Navigation links styles */
.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  list-style: none;
}

.nav-links li {
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}
.nav-links li:hover {
  color: orangered;
  transition: transform 0.5s;
}

.nav-links li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s, background-color 0.5s;
}

.nav-links li:hover::after {
  transform: scaleX(1);
  background-color: rgba(255, 68, 0, 0.89);
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .navbar {
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
  }

  .nav-links {
    display: none;
    padding-top: 30px;
  }

  .nav-links-mobile {
    display: block;
    position: absolute;
    list-style: none;
    background-color: #f8fafc;
    left: 0;
    top: 5px;
    width: 100%;
    transition: all 0.5s ease-out;
  }

  .nav-links-mobile li {
    color: black;
    text-align: center;
    padding: 4px;
    font-size: 20px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon {
    display: block;
    font-size: 32px;
  }
}
